<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<input type="file" id='input' onchange='handleFiles(this.files)'>
<script>
  function handleFiles(files){
    var file = files[0]
    sendFile(file,'/upload',function(err,responseText){
        console.log(err,responseText)
    })
  }
  function sendFile(file,url,callback) {

              var xhr = new XMLHttpRequest();
              var fd = new FormData();
              
              xhr.open("POST", url, true);
              xhr.onreadystatechange = function() {
                  if (xhr.readyState == 4) {
                    if(xhr.status == 200)
                      callback&&callback(null,xhr.responseText)
                    else 
                      callback&&callback(new Error(xhr.status))
                  }
              };
              fd.append('myFile', file);
              // Initiate a multipart/form-data upload
              xhr.send(fd);
          }
</script>
</body>
</html>